@import 'src/assets/styles/variables.scss';

.header {
    background-color: $dark2;
    width: 100%;
    
    .container {
        max-width: 1450px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 25px;
        @media (max-width: 650px) {
            padding: 25px 15px 25px 15px;
        }
    }

    .logo {
        color: $focus;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
        margin: 0;
        transition: linear 0.2s;

        &:hover {
            transform: scale(1.05);
        }

        @media (max-width: 650px) {
                color: transparent;
                font-size: 0;
        
            &::after {
                content: "WP";
                color: $focus;
                font-size: 28px;
                font-weight: 600;
            }
        }
    }

    .wrap {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    
}